body{
    background-color: steelblue;
}
div{
    background-color: aquamarine;
    display: flex;
    border-radius:5px 5px 5px 5px; box-shadow: 5px 5px;
    flex-wrap:wrap-reverse;
}
h2{
    color: white;
    text-align: center;
}
img{
    
    float: left;
}
a{
    background-color:slategray;
    color: snow;
    display: inline;
    border: 1px solid black;
    margin: 5px;
}
p{
    align-items: auto;
    padding-left:15px;

}